<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/updatedaily.css">
    <title>update data</title>
</head>
<body>
    <h1>update daily spent</h1>
    <form method="POST">
        {% csrf_token%}
        <label for="grocery">grocery spent</label>
        <input type="text" name="grocery" id="grocery" ><br>
        <label for="insurence">online payments spent</label>
        <input type="text" name="onlinepayment" id="onlinepayment" ><br>
        <button type="submit">save changes</button>
        <a href="{% url 'daily'%}">
            <button>cancel</button>
        </a>
        
    </form>
</body>
</html>